streams/

/home/ubuntu/Code/twitch_detection/test/production/pulumi/access_token.txt
test/production/pulumi/aws_credentials
__pycache__
**.mp4
**.mkv
group_id.txt
twitch_streams_time_range
twitch_streams
*.mp4
*.mkv
detections
tesseract_frames
tesseract_output
compare_medals
detect
filter
extract
concat
test_download_folder
