utils
cliptu
# python3 -m pip install paddlepaddle-gpu==3.0.0b1 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/ paddleocr # see /home/ubuntu/Code/twitch_detection/docs/paddle_and_tesseract.md
